* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bg-dual {
    height:100vh;
    background-image: linear-gradient(to bottom, rgb(1, 168, 151) 0px, rgb(1, 168, 151) 10vh, grey 100vh,);
}

.content {
    height:500px;
    background-color: brown;
    border: 1px solid black;
}

.left-col {
    width:25%;
}

.right-col {
    width:75%;
}